// Fonts
$fuente-principal: 'Lato', sans-serif;

// Colors
$primario: #da595a;
$oscuro: #484848;
$claro: #ffffff;
$hospedaje: #275154;
$concierto: #da595e;
$clase: #598dda;
$paseo: #9a0ad4;

// Media Queries
$telefone: 480px;
$tablet: 768px;
$desktop: 1200px;